################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/unity-assessment/.vs/unity-assessment/v15
obj/

bin/
